@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");

:root {
  --color-main-container__darker: #111;
  --color-main-container: #222222;
  --color-main-text: #fff;
  --color-pokemon-id: #000000c2;
  --color-main-container-border: #4360a6;
  --color-main-container-border__dark: #4b77d6;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Pixelify Sans", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  color: var(--color-main-text);
  background: var(--color-main-container__darker) url(logo.png) no-repeat center;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.gap {
  gap: 0.6rem;
}

.gap10 {
  gap: 1rem;
}

.flex-column {
  flex-direction: column;
}

.container {
  background-blend-mode: luminosity;
background-color: var(--color-main-container);
  border: 20px inset var(--color-main-container-border);
  min-width: calc(15rem * 4);
  min-height: 45rem;
  padding: 1.6rem;
  border-radius: 16px;
  display: grid;
  gap: 1.2rem;
  grid-template-rows: auto min-content;
  align-items: center;
  justify-items: center;
}

.main-list {
  display: grid;
  grid-template-columns: minmax(14rem, min-content) repeat(3, 14rem);
  grid-template-rows: repeat(4, 1fr);
  gap: 0.8rem;
  list-style: none;
}

.main-list__card {
  position: relative;
  height: 125px;
  background-size: 140%;
  background-repeat: no-repeat;
  background-blend-mode: color;
  border-radius: 8px;
  padding: 0.6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 20px;
  text-transform: capitalize;
  transition: all 0.1s;
  cursor: pointer;
  user-select: none;
  animation: .1s animation;
}

@keyframes animation {
  from {
    /*opacity: 0;*/
    -webkit-filter: blur(5px);
    filter: blur(5px);
  }
  to {
   /*opacity: 1;*/
    -webkit-filter: blur(0);
    filter: blur(0);
  }
}

.main-list__card:hover {
  transform: translateY(-2px);
}

.main-list__card:active {
  transform: translateY(2px);
}

.main-list__card img {
  width: 90%;
  object-fit: scale-down;
  pointer-events: none;
}

.list-card__id {
  font-weight: 700;
  color: var(--color-pokemon-id);
  font-size: 1.6rem;
  align-self: flex-start;
}
.pokemon-type {
  font-size: 0.8rem;
  padding: 4px;
  border-radius: 6px;
  border: #00000043 solid 1px;
  text-transform: capitalize;
  margin-right: 4px;
  cursor: pointer;
  transition: all 0.3s;
}

.button {
  background: none;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s;
  border: 4px groove var(--color-main-container-border__dark);
}

.button:hover {
  color: #fff;
}

.loader {
  width: 96px;
  height: 96px;
  border: 15px solid var(--color-main-container-border__dark);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
  justify-self: center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.nav-bar__select {
  font-size: 1.1rem;
  font-family: inherit;
  background: var(--color-main-container-border__dark) none;
  border-radius: 8px;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border: 4px groove var(--color-main-container-border__dark);
}

.details-container {
  background-color: var(--color-main-container-border);
  position: relative;
  padding: 2.4rem;
  border-radius: 8px;
  border: 4px inset var(--color-main-container-border__dark);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.details-id {
  font-weight: 700;
  color: var(--color-pokemon-id);
  font-size: 1.4rem;
}

.details-name {
  text-transform: capitalize;
  font-size: 1.2rem;
}

.details-img__container {
  display: flex;
  gap: 0.6rem;
  align-items: center;
}

.details-gif {
  align-self: center;
}

h4 {
  display: inline;
  text-transform: capitalize;
  color: var(--color-pokemon-id);
}

.pokemon-stats {
  background-color: var(--color-main-container-border__dark);
  padding: 0.6rem;
  border-radius: 8px;
  display: grid;
  grid-template-columns: repeat(3, 8rem);
  justify-items: center;
  align-self: center;
}

.pokemon-stats div {
  width: 100%;
  border-right: 3px solid var(--color-main-container);
}
.pokemon-stats div:last-child,
.pokemon-stats div:nth-child(3) {
  border: none;
}

.pokemon-ability {
  font-size: 0.8rem;
  padding: 4px 8px;
  border-radius: 6px;
  border: #00000043 solid 1px;
  text-transform: capitalize;
  margin-right: 4px;
  transition: all 0.1s;
  cursor: pointer;
}

.pokemon-ability:hover {
  background-color: var(--color-main-container);
}

.close-button {
  border: none;
  cursor: pointer;
  position: absolute;
  top: 2%;
  right: 2%;
  padding: 0.3rem 0.6rem;
  z-index: 999;
  background: var(--color-main-container) none;
  color: var(--color-main-container-border);
  font-weight: 700;
  font-size: 1.2rem;
  border-radius: 8px;
}

.ability-desc {
  background-color: var(--color-main-container);
  padding: 0.4rem .6rem;
  font-size: 0.8rem;
  border-radius: 6px;
  border: 1px solid #fff;
  max-width: 50%;
}

.pokemon-logo{
  animation: hu__hu__ infinite 2s ease-in-out;
  padding-bottom: 1rem;
}
@keyframes hu__hu__ {
  50% { transform: translateY(5px) }
}
/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 40 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 /52 / 62 / 74 / 86 / 98
*/
